<% layout('./layouts/boilerplate') %>

<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %>" />
<p><%= campground.description %></p>

<a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete" />
</form>

<footer>
  <a href="/campgrounds">Back to all campgrounds</a>
</footer>
